.col-1 {
    width: 100%;
}
.col-1-2 {
    width: 60%;
    margin-right: 20%;
    margin-left: auto;
}

.col-1-4 {
    width: 25%;
}
.col-1-8 {
    width: 12.5%;
}


.grid-pad {
    padding: 20px 20px 20px 20px;
}

.fancy span {
    display: inline-block;
    position: absolute;
}

.copy {
    max-height: inherit;
    font-size: 18px;
    margin-top: 3rem;
    text-align: center;
    line-height: 1.45;
    
    @media (max-width: 900px) {  
            font-size: 12px;
        }
        @media (max-width: 500px) {  
            font-size: 12px;
        }
        @media (max-width: 300px) {  
            font-size: 10px;
        }
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
}


html {
    padding: 1rem;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;

        @media (max-width: 900px) {  
            font-size: 15px;
        }
        @media (max-width: 500px) {  
            font-size: 14px;
        }
        @media (max-width: 300px) {  
            font-size: 12px;
        }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    line-height: 1.1;
}






a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #42dca3;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: .1em;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-default {
    border: 2px solid #000000;
    color: #000000;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 2px solid #000000;
    color: #000;
    background-color: #e6e6e6;
}


::-moz-selection {
    text-shadow: none;
    background-color: #42dca3;

}

::selection {
    text-shadow: none;
    background-color: #42dca3;

}

.work-responsive {
    display: inline-block;
}


#macs {
    display: inline-block;
    width: 400px;
    height: auto;
    cursor: default;
    margin-top: 35px; 
    margin-bottom: 25px;
}

#details {
    display: block;   
}