.col-1 {
    width: 100%;
}
.col-1-2 {
    width: 60%;
    margin-left: 20%;
    margin-right: auto;
}
.col-1-4 {
    width: 25%;
}
.col-1-8 {
    width: 12.5%;
}
/*

.grid:after {
    content: "";
    display: table;
    clear: both;
}
*/

[class*='col-'] {
    padding-right: 20px;
    padding-left: 20px;
}

.grid-pad {
    padding: 20px 20px 20px 20px;
}

.fancy span {
    display: inline-block;
    position: relative;
}

.copy {
    font: 1em;
    text-align: justify;
    min-width: 25%;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    text-align: center;
}




p {
    margin: 20px;
    font-size: 18px;
    line-height: 1.25;
}


a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #42dca3;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: "Montserrat Alternates","Helvetica Neue",sans-serif;
    font-weight: 400;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-default {
    border: 2px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 2px solid #42dca3;
    color: #000;
    background-color: #42dca3;
}

.title-text {
    border-bottom: 5px bold black;
    border-bottom-left-radius: 5px;   
}


::-moz-selection {
    text-shadow: none;
    background-color: #42dca3;

}

::selection {
    text-shadow: none;
    background-color: #42dca3;

}

.work-responsive {
    display: inline-block;
}


#macs {
    display: inline-block;
    width: 400px;
    height: auto;
    cursor: pointer;
    margin: 25px 0 25px 0;
}

#details {
    display: block;   
}